﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить пост</h2>




<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Вы уверены, что действительно хотите удалить этот пост?
    </div>
    <div class="panel-body">
        <div class="container">
            
            <h5><small>@Model.Date</small></h5>
            <h2>@Model.Title</h2>
            <hr/>
            <p>@Model.Text</p>
            <hr/>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Отменить", "List", null, new { @class = "btn btn-default" })
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </div>
        }
        </div>
    </div>