﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Пост #@Model.Id</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        Пост #@Model.Id
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Date)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Text)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Text)
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.AllowComments)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.AllowComments)
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.AutoExceptComments)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.AutoExceptComments)
                <br><br>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <hr />
                @Html.ActionLink("Список всех постов", "List", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Удалить пост", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Редактировать пост", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>


@Html.Action("EditListPartial", "Comments", new { id = Model.Id})

@if (Model.AllowComments)
{
    @Html.Action("CreatePartial", "Comments", new { id = Model.Id })
}