﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Редактирование поста";
}

<h2>Редактирование поста</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="panel panel-default">
            <div class="panel-heading">
                Редактирование поста
            </div>
            <div class="panel-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.Description, 20, 10, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new {@class = "control-label col-sm-2"})
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.Text, 20, 10, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AllowComments, htmlAttributes: new {@class = "control-label col-sm-2"})
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.AllowComments, new {@class = "form-control checkbox"})
                        @Html.ValidationMessageFor(model => model.AllowComments, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AutoExceptComments, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.AutoExceptComments, new { @class = "form-control checkbox" })
                        @Html.ValidationMessageFor(model => model.AutoExceptComments, "", new { @class = "text-danger" })
                    </div>
                </div>

                <hr />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @Html.ActionLink("Отменить", "List", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Удалить пост", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                        <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>


    </div>


}


<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
