﻿@using Blog.Models
@using PagedList.Mvc;

@model PagedList.IPagedList<Post>

@{
    ViewBag.Title = "Posts";
}

<h2>Новости</h2>

<p>
    @Html.ActionLink("Создать новый пост", "Create") |
    @Html.ActionLink("Редактировать посты", "List") 
</p>

<div class="container">
    @foreach (Post post in Model)
    {

        <h5><small>@post.Date</small></h5>
        <h2>@post.Title</h2>
        <p>@post.Description</p>
        <p>
            @Html.ActionLink("Читать далее", "Show", new { id = post.Id })
            <span class="glyphicon glyphicon-menu-down"></span>
        </p>
        <hr/>
    }

    @if (Model.PageCount > 1)
    {
        @:Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    }


</div>

