﻿@using Blog.Models
@using PagedList.Mvc;

@model PagedList.IPagedList<Post>

@{
    ViewBag.Title = "Редактирование постов";
}

<h2>Редактирование постов</h2>

<p>Всего постов: @ViewBag.PostsCount</p>
<p>
    @Html.ActionLink("Показать посты", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Создать новый пост", "Create",null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
    </tr>

    @foreach (var post in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => post.Date)
            </td>
            <td>
                @Html.ActionLink(post.Title, "Details", new {id = post.Id})
            </td>
        </tr>
    }





</table>

@if (Model.PageCount > 1)
{
    @:Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("List", new {page}))
}