﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Post";
}

<br>

<div class="container">

    <h5><small>@Model.Date</small></h5>
    <h2>@Model.Title</h2>
    <p>@Model.Text</p>
    <hr/>
    <p>
        <span class="glyphicon glyphicon-menu-left"></span>
        @Html.ActionLink("Все новости", "Index", "Posts")
    </p>

</div>

<hr/>
@if (Model.AllowComments)
{
    @Html.Action("ListPartial", "Comments", new {id = Model.Id})
    @Html.Action("CreatePartial", "Comments", new {id = Model.Id})
}