﻿@using Blog.Models
@using PagedList.Mvc;

@model PagedList.IPagedList<Comment>



<div class="container">
    <h3>Комментарии (@Model.TotalItemCount):</h3>
    <hr />
    @foreach (Comment comment in Model)
    {
        <div class="row">
            <div class="col-sm-2">
                @if (!comment.IsSeenByAdmin)
                {
                    <span class="label label-info">
                        Новый
                    </span>
                }
                <br>
                @if (!comment.IsAllowedByAdmin)
                {
                    <span class="label label-danger">
                        Не одобрен
                    </span>
                }
                <h5><small>@comment.Date</small></h5>
                <h4>@comment.Author</h4>
            </div>
            <div class="col-sm-10">
                @if (comment.Post!=null){
                    <h4>@comment.Post.Title</h4>
                }
                <h5>@comment.Text</h5>
                <br><br>
            </div>
        </div>

        @Html.ActionLink("Редактировать", "Edit", new { id = comment.Id }) @:|
        @Html.ActionLink("Удалить", "Delete", new { id = comment.Id })

        if (!comment.IsAllowedByAdmin)
        {
            @:| @Html.ActionLink("Разрешить", "Allow", new { id = comment.Id })
        }


        <hr />
    }
</div>

@if (Model.Count() > 0)
{
    foreach (var comment in Model)
    {
        if (!comment.IsAllowedByAdmin)
        {
            <p>
                @Html.ActionLink("Удалить все неодобренные", "DeleteAllNotAllowed", new {id = comment.PostId}) |
                @Html.ActionLink("Разрешить все неодобренные", "AllowAll", new {id = comment.PostId})
            </p>
            break;
        }
    }
}

@if (Model.PageCount > 1)
{
    @:Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action(ViewBag.PageAction, ViewBag.PageController, new { page }))
}