﻿@using Blog.Models
@using PagedList.Mvc;

@model PagedList.IPagedList<Comment>



<div class="container">
    <h3>Комментарии (@Model.TotalItemCount):</h3>
    <hr/>
    @foreach (Comment comment in Model)
    {
        <div class="row">
            <div class="col-sm-2">
                <h5><small>@comment.Date</small></h5>
                <h4>@comment.Author</h4>
            </div>
            <div class="col-sm-10">
                <h5>@comment.Text</h5>
                <br><br>
            </div>
        </div>

        <hr/>
    }
</div>

@if (Model.PageCount > 1)
{
    @:Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
}