﻿@model Blog.Models.Comment

@{
    ViewBag.Title = "Редактирование комментария";
}

<h2>Редактирование комментария</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="panel panel-default">
            <div class="panel-heading">
                Редактирование комментария
            </div>
            <div class="panel-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PostId, "PostId", htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.DropDownList("PostId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PostId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsSeenByAdmin, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">

                        @Html.CheckBoxFor(model => model.IsSeenByAdmin, new { @class = "form-control checkbox" })
                        @Html.ValidationMessageFor(model => model.IsSeenByAdmin, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsAllowedByAdmin, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">

                        @Html.CheckBoxFor(model => model.IsAllowedByAdmin, new { @class = "form-control checkbox" })
                        @Html.ValidationMessageFor(model => model.IsAllowedByAdmin, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.Text, 10, 10, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>


                <hr />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @Html.ActionLink("Отменить", "EditList", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Опубликовать комментарий" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
