﻿@using Blog.Models
@using PagedList.Mvc;

@model PagedList.IPagedList<Comment>

<h2>@ViewBag.Title</h2>

<p>

    @if (ViewBag.NewCommentsCount > 0)
    {
        <h4>
            <span class="label label-info">
                Новых комментариев: @ViewBag.NewCommentsCount
            </span>
        </h4>
    }
    else
    {
        @:Новых комментариев: @ViewBag.NewCommentsCount<br>
        }
    Всего: @ViewBag.AllCommentsCount
</p>

<p>
    @Html.ActionLink("Написать комментарий", "Create") | 
    @Html.ActionLink("Показать все", "EditList") | 
    @Html.ActionLink("Показать только новые", "EditListNewOnly")
</p>


@Html.Partial("_EditList", Model)
